.centerContainer {
    display: flex;
    width: 100%;
}
.jobCardContainer {
    width: 70%;
    margin: 10px auto;
    padding: 0px 50px;
    @media (max-width: 768px) {
        width: 93%;
        padding: 0px;
        margin: 0px auto;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}
.sidebar {
    width: 30%;
    @media (max-width: 768px) {
        display: none;
    }
}
.dasContainer {
    max-width: 93%;
    margin: 10px auto;

    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}

.moreJobContainer {
    background-color: #f4faff;
    padding: 12px;
    width: 100%;
    margin: 0px auto 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;

    p {
        color: #0069ff;
        font-weight: 500;
        font-size: 0.9rem;
        text-decoration: underline;
    }
}

// loader css --------------------------
.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    @media (max-width: 768px) {
        height: 50vh;
    }
}
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #0069ff;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
.nojobContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    text-align: center;
    line-height: 1.5;
}

// search and header container --------------------------
.headerContainer {
    display: flex;
    justify-content: space-between;
    width: "100%";
    background-color: #f4faff;
    padding: 28px 52px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        padding: 24px 0px;
    }
}
.imageContainer {
    width: 40%;
    text-align: center;
    @media (max-width: 768px) {
        display: none;
    }
}
.headerSection {
    width: 60%;
    border-radius: 0px 0px 20px 20px;
    margin: 0px auto;
    h2 {
        font-size: 46px;
        font-weight: 500;
        margin-bottom: 30px;
        line-height: 1.3;
        span {
            color: #0069ff;
            font-weight: 600;
        }
    }
    @media (max-width: 768px) {
        width: 92%;
        h2 {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }
}
.searchContainer {
    display: grid;
    grid-template-columns: 80% 5% 15%;
    margin: 0px auto;
    @media (max-width: 768px) {
        grid-template-columns: 75% 10% 15%;
    }
}

@mixin searchtheme() {
    height: 50px;
    font-size: 1.1rem;
    padding: 15px 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    border-right: none;
    color: #0066ff;
    background-color: #fff;
    border: 0px solid #0066ff;

    @media (max-width: 600px) {
        padding: 12px 14px;
        font-size: 0.9rem;
        height: 45px;
        margin: 0px 0px 25px;
        width: 100%;
        background-color: #fff;
    }
}

.searchcompany {
    @include searchtheme();
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    align-self: center;
    &:focus {
        outline: none;
    }
}
.cancelButton {
    @include searchtheme();
}

.search_btn {
    @include searchtheme();
    align-self: center;
    border-radius: 0px 8px 8px 0px;
    padding: 12px 0px;
    cursor: pointer;
    border-left: none;
    color: #fff;
    background-color: #0069ff;

    &:hover {
        background-color: #0050ff;
    }

    @media (max-width: 768px) {
        background-color: #0069ff;
    }
}
.radioGroup {
    display: flex;
    align-items: center;
    gap: 30px;
    span {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    p {
        color: #121212;
        font-weight: 500;
        font-size: 1rem;
    }
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transform: scale(1);
        border-radius: 50%;
        width: 18px;
        height: 18px;
        border: 1.2px solid #0069ff;
        transition: 0.2s all linear;
    }

    input:checked {
        border: 6px solid #0069ff;
        outline: unset !important;
    }
}
