.jobCardContainer {
    max-width: 60%;
    margin: 20px auto;
    @media (max-width: 768px) {
        max-width: 93%;
        margin: 10px auto;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

.dasContainer {
    max-width: 93%;
    margin: 10px auto;

    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}



.moreJobContainer {
    background-color: #0f172a;
    padding: 10px;
    width: 70%;
    margin: 0px auto;
    border-radius: 8px;
    text-align: center;
    display: none;
    margin-bottom: 15px;

    a {
        color: #fff;
        font-weight: 500;
    }

    @media (max-width: 768px) {
        display: block;
    }
}
