.jobCardContainer {
    max-width: 60%;
    margin: 20px auto;
    @media (max-width: 768px) {
        max-width: 93%;
        margin: 10px auto;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

.modalContainer {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    outline: none;
    background-color: #f3f3f3;
    padding-top: 20px;
    @media (max-width: 768px) {
        width: 100%;
        padding: 20px 15px;
    }
}
.modalItems {
    margin-top: 15%;
    width: 35%;
    margin: 0px auto;

    @media (max-width: 768px) {
        margin-top: 34%;
        width: 100%;
    }
}

.redirectButton {
    padding: 12px 0px;
    font-size: 1rem;
    background-color: #0069ff;
    border-radius: 6px;
    color: #fff;
    margin: 0px auto;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
.redirectIcon {
    height: 22px;
    width: 22px;
    margin-left: 10px;
}
.crossIcon {
    text-align: left;
    color: #3b3b3b;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.dasBanner {
    margin: 0px auto 20px auto;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.clickText {
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0px 6px;
    color: #0050ff;
}

.moreJobContainer {
    background-color: #0f172a;
    padding: 10px;
    width: 70%;
    margin: 0px auto;
    border-radius: 8px;
    text-align: center;
    display: none;
    margin-bottom: 15px;

    a {
        color: #fff;
        font-weight: 500;
    }

    @media (max-width: 768px) {
        display: block;
    }
}
