.jobdetails {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.14px;

    &_backbuttonsection {
        display: flex;
        align-items: center;

        cursor: pointer;
        margin-bottom: 36px;

        .back_icon {
            height: 24px;
            width: 24px;
            color: #3b3b3b;
        }
    }
}

.jobinfo {
    &_title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 20px;
    }

    &_companynamesection {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 20px 0px 30px;
        font-size: 0.9rem;

        &_name {
            font-weight: 500;
        }
        &_postdate {
            color: #3b3b3b;
        }
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px 0px 30px;

    .companyLogo {
        height: 75px;
        width: 75px;
        border-radius: 50px;
        border: 0.6px solid rgba(218, 223, 231, 1);

        @media (max-width: 991px) {
            width: 55px;
            height: 55px;
        }
    }

    .sharebutton {
        padding: 10px 16px;
        border: 1px solid #dadfe7;
        border-radius: 6px;
        font-weight: 500;
        font-size: 0.9rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 991px) {
            padding: 10px 14px;
        }

        .shareicon {
            height: 14px;
            width: 14px;
            color: #0069ff;
        }
    }
}

.detailscard {
    background-color: #f4faff;
    padding: 24px 40px;
    border-radius: 10px;
    margin: 16px 0px 40px;

    display: flex;
    column-gap: 60px;
    row-gap: 40px;
    flex-wrap: wrap;
    font-size: 1rem;

    @media (max-width: 991px) {
        padding: 26px 30px;
        row-gap: 22px;
    }

    .chipIcon {
        height: 10px;
        width: 10px;
    }

    div {
        span {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 8px;

            p {
                font-weight: 500;
            }
        }
    }
}

.jobdetails {
    p {
        font-size: 1rem;
        line-height: 1.6rem;
        letter-spacing: 0.14px;
        color: #2b2b2b;

        strong {
            font-weight: 500;
            margin: 5px 0px 0px 20px;
            @media (max-width: 991px) {
                margin: 0px;
            }
        }

        @media (max-width: 991px) {
            font-size: 1rem;
        }
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.2px;
        margin: 30px 0px 20px;
    }

    li {
        margin: 5px 0px 0px 40px;

        @media (max-width: 991px) {
            margin: 5px 0px 0px 20px;
        }
    }
}

.buttonsection {
    display: flex;
    gap: 20px;

    @media (max-width: 991px) {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .icon {
        margin-left: 10px;
        height: 16px;
        width: 16px;
    }

    span {
        padding: 14px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

        font-weight: 500;
        font-size: 1rem;
        text-align: center;
        border-radius: 6px;
        margin: 40px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.9px solid #0069ff;

        &:hover {
            background-color: #f4faff;
            cursor: pointer;
        }

        @media (max-width: 991px) {
            font-size: 0.9rem;
            width: 100%;
            margin-top: 0px;
        }
    }

    &_apply {
        width: 65%;
        color: #0069ff;
        font-weight: 700 !important;
        border: 1.5px solid #0069ff !important;

        .icon {
            rotate: 320deg;
        }
    }

    &_referral {
        width: 35%;
        border: 0.9px solid #ddd;

        .icon {
            color: red !important;
        }
    }
}

.details {
    padding: 24px;
    // border: 1px solid #ddd;
    box-shadow: 2px 2px 12px 0px rgba(30, 10, 58, .04);
    border-radius: 10px;
}

.bannercontainer {
    margin-top: 20px;
}

.promolink {
    color: #6e00be;
    font-weight: 500;
    text-decoration: underline;
}

.redirection_message {
    font-size: 0.7rem;
    margin-top: 10px;
    float: right;
}
