.joblist {
    letter-spacing: 0.14px;

    &_nojobsection {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        height: 30vh;
        margin-bottom: 200px;

        font-size: 1.2rem;
        line-height: 2rem;

        span {
            text-decoration: underline;
            text-underline-offset: 3px;
            cursor: pointer;
            color: #0069ff;
        }

        @media (max-width: 768px) {
            font-size: 0.9rem;
            margin-bottom: 100px;
            height: 40vh;
        }
    }
}

.joblistcontainer {
    display: flex;
    width: 100%;

    &_jobcards {
        width: 70%;
        margin: 10px auto;
        padding: 0px 50px;

        @media (max-width: 768px) {
            width: 93%;
            padding: 0px;
            margin: 0px auto;
        }
    }

    &_sidebar {
        width: 30%;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.showmoresection {
    text-align: center;
    border-radius: 50px;
    margin: 50px auto;
    width: 30%;
    cursor: pointer;
    background-color: #f4faff;

    @media (max-width: 768px) {
        width: 100%;
        margin: 0px auto;
    }

    p {
        color: #0050ff;
        font-weight: 500;
        font-size: 0.9rem;
    }

    &_button,
    &_loader {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 14px;

        .icon {
            color: #0069ff;
            height: 14px;
            width: 14px;
        }
    }

    &_loader {
        padding: 8px !important;
    }
}
