.joblist {
    letter-spacing: 0.14px;
    width: 100%;

    // display: grid;
    // grid-template-columns: 2.2fr 1fr;
    display: flex;
    padding: 3rem 5rem;
    grid-gap: 3rem;

    @media (max-width: 991px) {
        padding: 1rem;
        grid-template-columns: 100%;
    }

    &_mainsection {
        width: 65%;
        margin: 0px auto;

        @media (max-width: 991px) {
            padding: 0px !important;
            margin: 0px auto;
            padding-top: 30px;
        }

        &_alljobs {
            margin-bottom: 20px;
            font-weight: 600;
            color: #121212;
        }
    }

    &_sidebar{
        width: 35%;
    }
}
