.joblist {
    letter-spacing: 0.14px;
    display: flex;
    width: 100%;

    &_mainsection{
        width: 68%;
        margin: 0px auto;
        padding: 30px 40px 0px 50px;

        @media (max-width: 768px) {
            width: 93%;
            padding: 0px;
            margin: 0px auto;
            padding-top: 30px;
        }
    }

    &_jobcards {


        .banner {
            width: 100%;
            height: auto;
            border: 1px solid #25d366;
            border-radius: 8px;
            margin: 8px 0px 20px;
        }

        &_alljobs {
            margin-bottom: 20px;
            font-weight: 600;
            color: #121212;
        }
    }

    &_sidebar {
        width: 32%;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

