.jobCardContainer {
    border-radius: 12px;
    border: 1px solid rgba(218, 223, 231, 1);
    margin-bottom: 20px;
    background-color: #fff;
    font-family: "Inter", sans-serif;

    @media (max-width: 768px) {
        margin-bottom: 18px;
    }
    &:hover {
        box-shadow: 0 2px 20px rgb(0 0 0 / 0.1);
        transition-duration: 0.8s;
    }
}
.mainSection {
    display: grid;
    grid-template-columns: 16% 84%;
    padding: 20px 20px 20px 0px;
    cursor: pointer;
    text-align: left;

    @media (max-width: 768px) {
        padding: 18px 16px 16px 16px;
        margin: 0px auto;
    }
}

// company logo image or text
.companyLogoContainer {
    place-self: center;
    justify-self: center;

    grid-column: 1;
    grid-row: 1/3;

    @media (max-width: 768px) {
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        margin-left: 2px;
    }
}

.logotext {
    border: 0.6px solid rgba(218, 223, 231, 1);
    width: 40px;
    height: 40px;
    margin: 0px auto;
    border-radius: 50px;

    display: flex;
    align-self: center;
    justify-self: center;
    color: #fff;

    p {
        margin: 4px auto 0px;
        font-size: 1.6rem;
        font-weight: 700;
        color: #0069ff;
//        color: rgba(18, 25, 38, 1);
    }
}

.companyLogo {
    border-radius: 50px;
    border: 0.4px solid rgba(218, 223, 231, 1);
    @media (max-width: 768px) {
        width: 42px;
        height: 42px;
    }
}

// job title and company name
.jobTitleContainer {
    grid-column: 2/6;
    grid-row: 1;
}
.jobtitle {
    font-size: 20px;
    color: #121926;
    font-weight: 600;
    line-height: 24px;

    justify-self: start;
    align-self: center;

    @media (max-width: 768px) {
        font-size: 18px;
    font-weight: 500;

        line-height: 1.4rem;
    }
    @media (max-width: 300px) {
        font-size: 16px;
        line-height: 1.2rem;
    }
}
.companyName {
    //    font-size: 12px;
    font-size: 0.8rem;
    color: #121926;
    font-weight: 500;
    margin-top: 4px;

    @media (min-width: 768px) {
        font-size: 14px;
    }
}

// job details batch and degree
.jobdetails {
    grid-column: 2/4;
    grid-row: 2;
    margin-top: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        grid-column: 1/6;
        grid-row: 2;
    }
}

.jobdetailsItem {
    display: flex;
    margin: 0px 0px 4px;
    line-height: 1.1rem;

    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;

    p {
        color: #697586;
        margin-right: 6px;
        @media (max-width: 768px) {
            font-size: 0.8rem;
        }
    }

    @media (max-width: 768px) {
        line-height: 1.08rem;
    }
    @media (max-width: 300px) {
        line-height: 1.08rem;
        p {
            font-size: 0.7rem;
        }
    }
}
.detailTitle {
    color: #121212 !important;
    @media (max-width: 768px) {
        font-size: 0.8rem;
        justify-self: end;
    }
}
.views {
    color: #697586;
    font-size: 12px;
    font-weight: 500;
    align-self: flex-end;

    @media (max-width: 768px) {
        display: none;
    }
}
.viewIcon {
    height: 12px;
    width: 12px;
}
//  chips design --------------
.chipContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
}

.chip {
    padding: 4px 14px;
    font-size: 12px;
    margin-right: 8px;
    font-weight: 500;
    border-radius: 6px;

    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        font-size: 10px;
        padding: 4px 10px;
    }
}
.chipIcon {
    height: 8px;
    width: 8px;
    margin-bottom: 1px;
    margin-right: 3px;
}

// loader when clicked on a card
.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #0069ff;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

// footer with share and view button for mobile
.footerSection {
    @media (min-width: 768px) {
        display: none;
    }

    height: 32px;
    border-radius: 0px 0px 12px 12px;
    border-top: 1px solid #e1ebff;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;

    p {
        font-size: 10px;
        color: #1d4ed8;
        font-weight: 500;
    }
}
.shareContainer {
    display: flex;
    align-items: center;

    p {
        font-size: 10px;
        font-weight: 600;
    }
    .footerIcon {
        height: 12px;
        width: 12px;
        color: #1d4ed8;
        margin-left: 4px;
        margin-top: 1px;
    }
}

.postedMsg{
    font-size: 10px;
    margin-top: 10px;
    color: #697586;
}