
.showmoresection {
    text-align: center;
    margin: 50px auto;
    width: 100%;
    cursor: pointer;
    

    @media (max-width: 991px) {
        margin: 20px auto 0px;
        padding: 0;
    }

    p {
        color: #121926;
        font-weight: 500;
        font-size: 0.9rem;
    }

    &_button,
    &_loader {
        background-color: #f4faff;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 16px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, .05);

        .icon {
            color: #121926;
            height: 14px;
            width: 14px;
        }
    }

    &_loader {
        padding: 8px !important;
    }
}