.drawer{
    background-color: #F2f2f2;
    // height: 100px;
    width: 100%;
    display: flex;
    background-color: rgba(6, 137, 208, 0.95);
    position: relative;
    top: 100%;
    width: 500px;
    // height: 100px;
    bottom: 0px;
}