.privacyContainer {
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
    color: #121212;

    h1 {
        font-size: 2rem;
        margin: 14px 0px 10px;
        color: #121926;
    }
    h2, h3 {
        font-size: 1.2rem;
        margin: 24px 0px 8px;
        color: #121926;
    }
    p {
        color: #4b5556;
    }
    li {
        margin-left: 14px;
        margin-top: 5px;
    }
    @media screen and (max-width: 991px) {
        width: 92%;
    }
}
