.privacyContainer {
    width: 60%;
    margin: 36px auto 56px;

    h1 {
        font-size: $font-size-lg;
        margin: 16px 0 30px;
        color: $grey-dark;
    }
    h2,
    h3 {
        font-size: $font-size-xs;
        margin: 24px 0px 8px;
        color: $grey-dark;
        font-weight: $font-weight-semi-bold;
    }
    p {
        color: $grey-light-text;
        font-size: $font-size-xs;
        line-height: $font-size-lg;
    }
    a {
        color: $primary;
    }
    li {
        margin-left: 14px;
        margin-top: 5px;
    }
    @media screen and (max-width: 991px) {
        width: $mobile-width;
    }
    b {
        font-weight: $font-weight-semi-bold;
    }
}
