.dasLinkContainer {
    background-color: #0069ff;
    color: #ffffff;
    width: 100%;
    margin: 16px auto 16px;

    padding: 12px 14px;
    border-radius: 8px;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;

    @media screen and (max-width: 700px) {
        display: flex;
        font-size: 1rem;
        margin-bottom: 20px;
        line-height: 1.5rem;
        text-align: left;
        font-weight: 500;
    }
}
.chipIcon {
    height: 22px;
    width: 22px;
}

// for DAS banner ---------
.dasBannerContainer {
    width: 60%;
    text-align: right;
    margin: 15px auto 0px;
    display: none;
    @media screen and (max-width: 991px) {
        width: 100%;
        display: block;
    }
}
.dasBanner {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(218, 223, 231, 1);
    border-radius: 12px;
}
