$primary: #0050ff;
$primary-light: #0061ff;

$black: #000;
$black-dark : #121212;

$white: #fff;
$grey-1: #232a37;
$gray-darker: #373737;
$gray-dark: #484848;
$gray-3: #545454;
$gray-light-medium: #979797;
$gray-medium: #9b9b9b;
$gray-light: #dcdcdc;
$gray-lightest: #efefef;

$grey-dark: #111817; // for icon
$gray-dark-medium: #697586;
$white-light : #f3f4f6;
$grey-light: #DADFE7; // for border
